h1= title
p In a day trip

p A spent $#{expense0} for Dinner
p B spent $#{expense1} for Lunch
p C spent $#{expense2} for Beer
p D spent $#{expense3} for Gas
br
p total expense $#{total}
br
p Who owes who for how much??
br
p Naive Solution
p A owes #{naive0}
p B owes #{naive1}
p C owes #{naive2}
p D owes #{naive3}
br
p TabThat simplified this
p A owes #{opt0}
p B owes #{opt1}
p C owes #{opt2}
p D owes #{opt3}
