h1= title
p Welcome to #{title}

p user0 spent $#{expense0} for Dinner
p user1 spent $#{expense1} for Lunch
p user2 spent $#{expense2} for Beer
p user3 spent $#{expense3} for Gas
br
p total expense $#{total}
br
p Who owes who for how much??
br
p oweTable #{oweTable}
