h1= title
p In a day trip, suppose

p #{users[0].username} spent $
    input(type='number', min='0', max='99', value= expenses[0]/100)
    | for Dinner
p #{users[1].username} spent $
    input(type='number', min='0', max='99', value= expenses[1]/100)
    | for Lunch
p #{users[2].username} spent $
    input(type='number', min='0', max='99', value= expenses[2]/100)
    | for Beer
p #{users[3].username} spent $
    input(type='number', min='0', max='99', value= expenses[3]/100)
    | for Gas
br
p Total expense $#{total/100}
br
p Who owes who for how much??
br
p Naive Solution 
  i
    small (split the each bill by the number of people)
table
  tr
    td.legend
    td.legend #{users[0].username}
    td.legend #{users[1].username}
    td.legend #{users[2].username}
    td.legend #{users[3].username}
  tr
    td #{users[0].username} owes
    td $#{naive[users[0].user_id][users[0].user_id]/100}
    td $#{naive[users[0].user_id][users[1].user_id]/100}
    td $#{naive[users[0].user_id][users[2].user_id]/100}
    td $#{naive[users[0].user_id][users[3].user_id]/100}
  tr
    td #{users[1].username} owes
    td $#{naive[users[1].user_id][users[0].user_id]/100}
    td $#{naive[users[1].user_id][users[1].user_id]/100}
    td $#{naive[users[1].user_id][users[2].user_id]/100}
    td $#{naive[users[1].user_id][users[3].user_id]/100}
  tr
    td #{users[2].username} owes
    td $#{naive[users[2].user_id][users[0].user_id]/100}
    td $#{naive[users[2].user_id][users[1].user_id]/100}
    td $#{naive[users[2].user_id][users[2].user_id]/100}
    td $#{naive[users[2].user_id][users[3].user_id]/100}
  tr
    td #{users[3].username} owes
    td $#{naive[users[3].user_id][users[0].user_id]/100}
    td $#{naive[users[3].user_id][users[1].user_id]/100}
    td $#{naive[users[3].user_id][users[2].user_id]/100}
    td $#{naive[users[3].user_id][users[3].user_id]/100}
br
p 
  b TabThat Solution 
    i
      small (minimize the number of transaction)
table
  tr
    td.legend
    td.legend #{users[0].username}
    td.legend #{users[1].username}
    td.legend #{users[2].username}
    td.legend #{users[3].username}
  tr
    td #{users[0].username} owes
    td $#{opt[users[0].user_id][users[0].user_id]/100}
    td $#{opt[users[0].user_id][users[1].user_id]/100}
    td $#{opt[users[0].user_id][users[2].user_id]/100}
    td $#{opt[users[0].user_id][users[3].user_id]/100}
  tr
    td #{users[1].username} owes
    td $#{opt[users[1].user_id][users[0].user_id]/100}
    td $#{opt[users[1].user_id][users[1].user_id]/100}
    td $#{opt[users[1].user_id][users[2].user_id]/100}
    td $#{opt[users[1].user_id][users[3].user_id]/100}
  tr
    td #{users[2].username} owes
    td $#{opt[users[2].user_id][users[0].user_id]/100}
    td $#{opt[users[2].user_id][users[1].user_id]/100}
    td $#{opt[users[2].user_id][users[2].user_id]/100}
    td $#{opt[users[2].user_id][users[3].user_id]/100}
  tr
    td #{users[3].username} owes
    td $#{opt[users[3].user_id][users[0].user_id]/100}
    td $#{opt[users[3].user_id][users[1].user_id]/100}
    td $#{opt[users[3].user_id][users[2].user_id]/100}
    td $#{opt[users[3].user_id][users[3].user_id]/100}
