h1= title
p In a day trip

p A spent $#{expense0} for Dinner
p B spent $#{expense1} for Lunch
p C spent $#{expense2} for Beer
p D spent $#{expense3} for Gas
br
p total expense $#{total}
br
p Who owes who for how much??
br
p Naive Solution
table
  tr
    td
    td A
    td B
    td C
    td D
  tr
    td A owes
    td $#{naive00}
    td $#{naive10}
    td $#{naive20}
    td $#{naive30}
  tr
    td B owes
    td $#{naive01}
    td $#{naive11}
    td $#{naive21}
    td $#{naive31}
  tr
    td C owes
    td $#{naive02}
    td $#{naive12}
    td $#{naive22}
    td $#{naive32}
  tr
    td D owes
    td $#{naive03}
    td $#{naive13}
    td $#{naive23}
    td $#{naive33}
br
p TabThat simplified this
table
  tr
    td
    td A
    td B
    td C
    td D
  tr
    td A owes
    td $#{opt00}
    td $#{opt10}
    td $#{opt20}
    td $#{opt30}
  tr
    td B owes
    td $#{opt01}
    td $#{opt11}
    td $#{opt21}
    td $#{opt31}
  tr
    td C owes
    td $#{opt02}
    td $#{opt12}
    td $#{opt22}
    td $#{opt32}
  tr
    td D owes
    td $#{opt03}
    td $#{opt13}
    td $#{opt23}
    td $#{opt33}
